Data Mining: Basic Concepts - WS'22/23
---------------
``` 
> University of Konstanz 
> Department of Computer and Information Science
> Prof. Dr. Daniel Keim, Eren Cakmak, Raphael Buchmüller, Udo Schlegel, Yannick Metz
```
__Organize in teams of 2 people, return the exercise by Sun, Nov 13th, 2022 (11:59 PM) using ILIAS__

---

Assignment 02 in Python
---------------
- ___Please put your names and student IDs here___:
    - _Lennart Gießing_, _921963_
    - _Nicolas Fröhlich_, _912433_

---

#### Exercise 1: Data Types
Imagine you have the following dataset:

| Date  	| City   	| Country  	| Temperature | Wind	|
|------ 	|----------	|-----------|-------------|---------|
|11.10.2022 |Konstanz   | Germany   |  17°C       | Low     |
|11.10.2022 |Chicago    | US        |  18°C       | Strong  |
|13.10.2022 |Sydney     | Australia |  11°C       | Medium  |

##### __(a) Describe for each column whether it contains nominal, ordinal or numerical data and explain why you made that decision__

* Date: ordinal
* City: nominal
* Country: nominal
* Temperature: numerical
* Wind: ordinal

##### __(b) Give at least one mathematical operation that can be used on all three data types__

```
>> Your answer 
```

---

#### Exercise 2: Missing Values

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data_exercise2.csv')
df

           x          y
0  -2.000000 -15.000000
1  -1.939394 -13.309236
2  -1.878788 -11.690597
3  -1.818182 -10.142750
4  -1.757576  -8.664357
..       ...        ...
95  3.757576   8.455909
96  3.818182   9.258452
97  3.878788  10.115758
98  3.939394  11.029162
99  4.000000  12.000000

[100 rows x 2 columns]

##### __The data contains missing values. In the following we will apply 4 different ways to deal with missing values known from the lecture.__

##### __(a) Drop the rows containing missing values and store your result as ``df1`` (Note: do not drop the rows in the original ``df``).__

##### __(b) Another method is to assign a global constant to missing values. Assign ``-1`` to each missing value and store the new dataframe in ``df2``.__

##### __(c) Now fill in the missing values using the attribute mean and store it in ``df3``. Plot the result using the ``seaborn.scatterplot``method.__

##### __(d) Instead of filling the missing values with the mean, we will now try to fill them using regression.__
##### __(d.1)What polynomial degree does the function you are looking for most likely have?__ _(Hint: Use the ``seaborn.regplot`` method and modify the ``order`` parameter)_

```
> Polynomial degree 3 
```

##### __(d.2) Compute the coefficients for the function that describes the data__ _(Hint: drop missing values and use ``numpy.polyfit()``)_

##### __(d.3) Use the computed polynomial coefficients to implement a regression method. Use the method to fill the missing values in the dataframe with values  and store it as ``df4``.__

##### __(e) Plot all your results (dropNA, global constant, mean and polynomial regression) and compare the results. Which of the 4 methods would you use here? Explain your decision.__

```
>> Your answer 
```

---

#### Exercise 3: Data Cleaning
Clean the following cereal dataset containing nutrition data on 80 cereal products. The commands have to work for different datasets as well. 

Careful: If you like to eat cereal, do yourself a favor and do not look at the numbers. After seeing these data it will never be the same to eat Fruity Pebbles again.

In [3]:
import pandas as pd
df = pd.read_csv('cereal.csv')
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating;;
0,100% Bran,N,C,70.0,4.0,1,130.0,10.0,5.0,6,280.0,25.0,3,1.0,0.33,68.402973;;
1,100% Natural Bran,Q,C,120.0,3.0,5,15.0,2.0,8.0,8,135.0,0.0,3,1.0,1.00,33.983679;;
2,All-Bran,K,C,70.0,4.0,1,260.0,9.0,7.0,5,320.0,25.0,3,1.0,0.33,59.425505;;
3,All-Bran with Extra Fiber,K,C,50.0,4.0,0,140.0,14.0,8.0,0,330.0,25.0,3,1.0,0.50,93.704912;;
4,Almond Delight,R,C,110.0,2.0,2,200.0,1.0,14.0,8,-1.0,25.0,3,1.0,0.75,34.384843;;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2.0,1,250.0,0.0,21.0,3,60.0,25.0,3,1.0,0.75,39.106174;;
73,Trix,G,C,110.0,1.0,1,140.0,0.0,13.0,12,25.0,25.0,2,1.0,1.00,27.753301;;
74,Wheat Chex,R,C,100.0,3.0,1,NaN,3.0,17.0,3,115.0,25.0,1,1.0,0.67,49.787445;;
75,Wheaties,G,C,100.0,3.0,1,200.0,3.0,17.0,3,110.0,25.0,1,1.0,1.00,51.592193;;
76,Wheaties Honey Gold,G,C,110.0,2.0,1,200.0,1.0,16.0,8,60.0,25.0,1,1.0,0.75,36.187559;;

##### __(a) Are there columns with missing values?__

##### __(b) Drop all rows that have at least three `NaN` values.__

##### __(c) Replace the `NaN` values of remaining columns with missing values using linear interpolation. Limit the maximum number of consecutive `NaN` to fill to ``1``. Are there still `NaN` values and if yes, in which column?__

```
>> Your answer 
```

---

#### Exercise 4: Binning
The following data consists of the age of several people: 
```
> [2, 19, 21, 23, 24, 25, 28, 29, 30, 30, 33, 35, 36, 36, 40, 45, 46, 48, 48, 48, 52, 54, 56, 58, 59, 59, 62]

```

##### __(a) Apply binning to the dataset using 3 equal-width bins. Smooth the data using the mean of the bins. Explain the steps of your approach and give the final result.__
##### __Please solve this exercise by hand without using Python__

```
>> Your answer 
```

##### __(b) Apply binning to the dataset using 3 equal-depth bins. Smooth the data using the mean of the bins. Explain the steps of your approach and give the final result.__
##### __Please solve this exercise by hand without using Python__

```
>> Your answer 
```

##### __(c) Compare the results from a) and b). Give one reason why equal-depth binning might be preferable in this scenario.__

```
>> Your answer 
```

---

#### Exercise 4: Normalization

##### __(a) Which of the columns in the following table can be normalized using the linear or logarithmic min-max normalization? Discuss if the normalization is useful or not.__

|id |Gender|Size (cm)|Weight (kg)|Hair Color|Blood Type|Glasses|Salary(€)|
|---|------|---------|-----------|----------|----------|-------|------|
|22|Female|175|65|red|A|yes|3900|
|23|Female|176|71|red|AB|yes|4200|
|24|Female|176|71|red|O|yes|2800|
|25|Female|179|69|black|B|yes|5100|
|26|Female|195|62|black|B|no|3850|
|27|Female|204|64|black|O|yes|2200|
|28|Female|163|70|brown|AB|no|8000|
|29|Female|172|62|brown|AB|no|1900|
|30|Female|166|52|brown|AB|no|4450|
|31|Female|182|67|brown|AB|no|3900|
|32|Female|168|70|brown|O|yes|65000|
|33|Female|168|59|blond|B|no|450|
|34|Male|168|62|black|B|no|5100|
|35|Male|178|63|red|B|no|450|
|36|Male|178|59|red|AB|no|2900|
|37|Male|172|67|brown|A|yes|3200|
|38|Male|172|58|brown|A|no|3100|
|39|Male|185|62|brown|A|no|10500|
|40|Male|190|76|black|B|yes|2800|
|41|Male|184|70|black|B|yes|4100|

```
>> Your answer 
```

##### __(b) Using the column “Size”, use linear min-max normalization to transform the values ``168, 182, 195`` into the range ``[0, 1]``. Give the formula used to compute the values, including min/max value.__

```
>> Your answer 
```

##### __(c) Using the column “Weight”, use logarithmic min-max normalization to transform the values ``59, 63, 70`` into the range ``[0, 1]``. Give the formula used to compute the values, in-cluding min/max value__

```
>> Your answer 
```

##### __(d) Which of the two normalization methods (linear & logarithmic) would you use for the column ``salary`` if you want to use your normalized data later on for some statistical modeling? Briefly explain your choice.__

```
>> Your answer 
```

##### __(e) Write a function to normalize all columns of the following dataframe using the square root min-max normalization.__

In [4]:
import pandas as pd
df_nom = pd.DataFrame(list(zip(range(0, 100) , range(750, 850), range(11122, 11222))), 
               columns =['a', 'b', 'c'])
print(df_nom)

     a    b      c
0    0  750  11122
1    1  751  11123
2    2  752  11124
3    3  753  11125
4    4  754  11126
..  ..  ...    ...
95  95  845  11217
96  96  846  11218
97  97  847  11219
98  98  848  11220
99  99  849  11221

[100 rows x 3 columns]