Data Mining: Basic Concepts - WS'22/23
---------------
``` 
> University of Konstanz 
> Department of Computer and Information Science
> Prof. Dr. Daniel Keim, Eren Cakmak, Raphael Buchmüller, Udo Schlegel, Yannick Metz
```
__Organize in teams of 2 people, return the exercise by Sun, Nov 6th, 2022 (11:59 PM) using ILIAS__

---

Assignment 01
---------------
- ___Please put your names and student IDs here___:
    - _Lennart Gießing_, _921963_
    - _Nicolas Fröhlich_, _912433_

---

#### Exercise 0: Info
Please complete all the exercises below. Please hand in the assignment as a Jupyter notebook (.ipynb) file. The solution should include your code, answers to exercise questions, and plots of results. Don't forget to incorporate answers to questions as markdown cells that ask for natural language responses, i.e., in English, not code!

The assignments are in Python. You are not required to do all your coding in Jupyter notebooks, so please feel free to use your favorite editor or IDE. But when you are done, remember to put your code into a notebook (.ipynb) for your submission.

__More information:__
* Just one of the team members needs to upload the assignment.
* Please write full names on solutions (first name + surname) as well as your matriculation number
* Please name the files using your name. (e.g. „udo_schlegel_yannick_metz.ipynb“)
* No special characters in the file name (except "_")
* Do not use any Python libraries to solve the tasks in the assignment sheet. We will clearly state it in the question text when you need to use a library in the future. Feel free to use the Python packages `numpy`, `pandas`, `matplotlib` whenever you want.

---

#### Exercise 1: Working with matrices
The Python package ``numpy``allows you to work with vectors and matrices. Install the package and use the following command to create a ``numpy`` array and answer the following questions. Write down the commands you need to solve each tasks in a separate code cell. The commands have to work for different matrices as well.

##### __(a) Create the following 3x3 matrix__

$$\begin{bmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9 \end{bmatrix}$$

In [ ]:
import numpy as np

my_matrix = np.array([[1,2,3], [4,5,6], [7,8,9]])

In [ ]:
my_matrix

##### __(b) Retrieve and print the second element of the third row__

In [ ]:
print(my_matrix[2,1])

##### __(c) Retrieve and print the first row__

In [ ]:
print(my_matrix[0])

##### __(d) Retrieve and print the whole second column__

In [ ]:
print(my_matrix[:,1])

##### __(e) Retrieve and print all rows but the first__

In [ ]:
print(my_matrix[1:])

##### __(f) Retrieve the diagonal of the matrix__

In [ ]:
[my_matrix[i,i] for i in range(len(my_matrix))]

##### __(g) Retrieve the sum of each rows. The result should therefore be ``[6, 15, 24]``__

In [ ]:
[sum(my_matrix[i]) for i in range(len(my_matrix))]

##### __(h) Multiply all elements of the matrix with ``2`` and afterwards add ``2`` to each element. Then print all elements bigger than ``>15``__

In [ ]:
my_matrix = (my_matrix*2)+2
print(my_matrix[my_matrix>15])

---

#### Exercise 2: Working with matplotlib and images
The package ``matplotlib`` allows to load and process images.

In [ ]:
import numpy as np
from matplotlib.image import imread
import matplotlib.pyplot as plt

In [ ]:
image = imread('uni-konstanz.jpg')
plt.imshow(image)

##### __(a) Select and displays the following section of the image - all pixels between 0 and 300 pixels on the x-axis and all pixels between 100 and 400 pixels on the y-axis__

In [ ]:
image = image[0:300]
plt.imshow(image)

##### __(b) Change the brigthness of the image by multiplying it with ``0.001``__

In [ ]:
image = image*0.001
# plt.imshow(image)

---

#### Exercise 3: Working with dataframes 
The Python package ``pandas``allows to work with data as a 2D heterogeneous tabular data structure

##### __(a) Import the package and create a ``pandas`` dataframe from the following ``numpy`` matrix. Name the columns a, b, c, d, e__

In [ ]:
import pandas as pd

In [ ]:
# help(pd.DataFrame)

In [ ]:
my_matrix = np.array([[1,2,3,4,5], [5,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
my_matrix

In [ ]:
my_df = pd.DataFrame(my_matrix, columns=["a", "b", "c", "d", "e"])
my_df

##### __(b) Retrieve and print the column ``d``__

In [ ]:
print(my_df["d"])

##### __(c) Retrieve and print the whole third row__

In [ ]:
print(my_df.iloc[2])

##### __(d) Add ``5`` to each element of the column ``a`` and then print each element of column ``a`` that is bigger ``>12``__

In [ ]:
my_df["a"] = my_df["a"]+5
print(my_df["a"][my_df["a"]>12])

##### __(e) Remove the column ``b`` from the dataframe__

In [ ]:
my_df = my_df.drop(columns=["b"])
my_df

##### __(f) Iterate through the dataframe and print each row__ _(Hint: use the iterrows() method)_

In [ ]:
for i in my_df.iterrows():
    print(i)

##### __(g) Print the shape of the dataframe (number of rows & columns)__

In [ ]:
print(my_df.shape)

---

#### Exercise 4: Dataframes
In the following, we will analyze UFO sightings over the last century.

In [215]:
import pandas as pd

df = pd.read_csv('ufo.csv')
df.head()

/var/folders/0k/103494dx1c5gpkpbrpkwnk180000gn/T/ipykernel_69696/3467990002.py:3: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ufo.csv')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

##### __(a) Print the total number of UFO sightings.__

In [ ]:
print(len(df))

##### __(b) Print all sightings of UFOs in Berlin, Germany where the shape is not unknown.__

In [ ]:
# print(df["shape"].unique())
# print(df["country"].unique())
# print(df["city"].unique())
df[(df["shape"] != "unknown") & (df["country"] == "de") & (df["city"] == "berlin (germany)")]

##### __(c) Print the total number of sightings per country and the total number of sightings for each shape.__

In [ ]:
# print(df.groupby(["country"]))
help(df.groupby(["country"]))

##### __(d) By using the results from (c) check how often the most sighted shape was seen in the country with the most sightings.__

##### __(e) Print the mean and the median duration of UFO sightings in seconds.__ _(Hint: Find a reasonable way to deal with non-numeric values in the data)_

In [ ]:
if i.dtype == True:
        pd.to_numeric(df["duration (seconds)"])
    else:
        i = 0

In [ ]:
df

In [229]:
df.info()
for i in df["duration (seconds)"]:
    print(i.dtype)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

AttributeError: 'str' object has no attribute 'dtype'

##### __Why is there such a big difference between the two values?__

```
>> Your answer 
```

---

#### Exercise 5: NumPy and Pandas

##### __(a) Explain the difference between a Python ``list`` and a ``numpy.array``.__

```
>> Your answer 
```

##### __(b) Explain the difference between ``numpy.array`` and ``numpy.ndarray``.__

```
>> Your answer 
```

##### __(c) Explain the differences between ``numay.array``and ``pandas.DataFrame``__

```
>> Your answer 
```

---

#### Exercise 6: Scatterplot Matrices
In this exercise, you will load a dataset into a Python ``pandas.DataFrame`` and genreate a scatterplot matrix visualization.

##### __(a) Load and print the dataset ``iris.csv``.__

In [240]:
df = pd.read_csv('iris.csv')
print(df)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

##### __(b) When creating a scatterplot matrix the data has to be of a numeric data type. Thus, remove the column which data type is not suitable from the iris dataset.__

In [241]:
# df.info()
df = df.drop(columns=["species"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

##### __(c) Generate a scatterplot matrix visualization. Use the package ``seaborn`` and the method ``seaborn.pairplot()``__

In [230]:
import seaborn as sns

##### __(d) Reload the ``iris`` data. Plot the scatterplot matrix and color the points using the ``species`` column.__

In [ ]:
df = pd.read_csv('iris.csv')

##### __(e) Using this visualization, describe at least one interesting characteristic of the ``iris`` dataset.__ 

_(Hint: Think about possible data mining tasks that you want to apply to the data.)_

```
>> Your answer 
```